Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/SistemaDePontos.csproj
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/ScoreManager.cs
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/Program.cs
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/ObserverScore.cs
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/SistemaDePontos.csproj.nuget.g.targets
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/SistemaDePontos.csproj.nuget.g.props
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/SistemaDePontos.csproj.nuget.dgspec.json
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/project.nuget.cache
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/project.assets.json
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.sourcelink.json
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.pdb
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.GlobalUsings.g.cs
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.genruntimeconfig.cache
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.GeneratedMSBuildEditorConfig.editorconfig
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.dll
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.csproj.FileListAbsolute.txt
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.csproj.CoreCompileInputs.cache
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.csproj.BuildWithSkipAnalyzers
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.assets.cache
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.AssemblyInfoInputs.cache
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/SistemaDePontos.AssemblyInfo.cs
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/refint/SistemaDePontos.dll
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/ref/SistemaDePontos.dll
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/apphost.exe
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/Notification.cs
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/bin/Debug/net8.0/SistemaDePontos.runtimeconfig.json
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/bin/Debug/net8.0/SistemaDePontos.pdb
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/bin/Debug/net8.0/SistemaDePontos.exe
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/bin/Debug/net8.0/SistemaDePontos.dll
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos/bin/Debug/net8.0/SistemaDePontos.deps.json
Programas_Em_C\#/exercicios/SistemaDePontos/SistemaDePontos.sln
Programas_Em_C\#/exercicios/SistemaDePontos/.vs/SistemaDePontos/v17/DocumentLayout.json
Programas_Em_C\#/exercicios/SistemaDePontos/.vs/SistemaDePontos/v17/DocumentLayout.backup.json
Programas_Em_C\#/exercicios/SistemaDePontos/.vs/SistemaDePontos/v17/.suo
Programas_Em_C\#/exercicios/SistemaDePontos/.vs/SistemaDePontos/FileContentIndex/db2a6d55-cc9f-4296-87b7-ea6af3bc5743.vsidx
Programas_Em_C\#/exercicios/SistemaDePontos/.vs/SistemaDePontos/FileContentIndex/c7985397-2db0-4d3c-b2dd-fcb985cc8657.vsidx
Programas_Em_C\#/exercicios/SistemaDePontos/.vs/SistemaDePontos/FileContentIndex/7fd63b07-62c1-4b76-8621-633f92a475e1.vsidx
Programas_Em_C\#/exercicios/SistemaDePontos/.vs/SistemaDePontos/FileContentIndex/266a659b-cdd6-4963-b3a9-fd26f1da0bea.vsidx
Programas_Em_C\#/exercicios/SistemaDePontos/.vs/SistemaDePontos/DesignTimeBuild/.dtbcache.v2
